<div id="aboutme" class="container">
    <div class="owner">
        <div class="avatar">
            <img src="../assets/img/faces/ProfilePic.JPG" alt="Circle Image" class="img-circle img-no-padding img-responsive">
        </div>
        <div class="name">
            <h4 class="title">Hello World...!<br /></h4>
            <h4 class="title">I'm Gangadhara Adapa<br /></h4>
            <h6 class="description">Designer/Developer</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
            <p class="align-text"> I'm a FullStack Developer and UX Designer based in salem Oregon. I have a passion for creating clean, beautiful, interactive, responsive and user-friendly Website, developed by modular, scalable and functional code.Since I am very passionate in coding and designing web apps I've been keepingup with the cutting-edge web technologies, aiming to produce a work that I can be proud of. </p>
            <br />
        </div>
    </div>
</div>
