<div id="contact-me" class="container">
  <div class="row">
    <div class="col-md-8 mr-auto ml-auto">
      <h2 class="text-center">Pretty neat, huh ?</h2>
      <form class="contact-form">
        <!-- <div class="row">
          <div class="col-md-6">
            <label>Name</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="nc-icon nc-single-02"></i>
              </span>
              <input type="text" class="form-control" placeholder="Name">
            </div>
          </div>
          <div class="col-md-6">
            <label>Email</label>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="nc-icon nc-email-85"></i>
              </span>
              <input type="text" class="form-control" placeholder="Email">
            </div>
          </div>
        </div>
        <label>Message</label>
        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea> -->
        <p class="text-style padding">If  you fancy a chat, drop me a line at my Email</p>
        <p class="text-style ">New company website, existing site facelift, online store, web app, or UX audit and overhaul - you name it,</p>
        <p class="text-style text-bold">"I  make  it  happen"</p>
        
        <p class="text-style">Email: adapa@adapagangadhara.com</p>
        <p class="text-style">Number: +1 (908) 312-1415</p>
        <div class="row">
          <div class="col-md-4 mr-auto ml-auto">
            <button  class="btn SendEmail btn-danger btn-lg btn-fill">Send Email</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>