<div id="skills" class="container ">
  <h2 class="title">Skills</h2>
  <div class="row">
    <div class="col-md-3">
      <div class="info">
        <div class="icon icon-danger">
          <i class="nc-icon nc-bulb-63"></i>
        </div>
        <div class="description">
          <h4 class="info-title">User Experience</h4>
          <p class="description">Strategy, Sketching, Wireframing,Adobe Photoshop, Adobe XD, Adobe Illustrator.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="info">
        <div class="icon icon-danger">
          <i class="nc-icon nc-tv-2"></i>
        </div>
        <div class="description">
          <h4 class="info-title">Web Applications</h4>

          <p class="description text-color">Gathering Information, Planning, Design, Development, Testing and Review, launch, Maintenance and Regular Updating</p>

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="info">
        <div class="icon icon-danger">
          <i class="nc-icon nc-vector"></i>
        </div>
        <div class="description">
          <h4 class="info-title">Vector Design</h4>
          <p>Logo Design, Identity/Product, Icons design.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="info">
        <div class="icon icon-danger">
          <i class="nc-icon nc-minimal-left"></i>
          <i class="nc-icon nc-minimal-right"></i>
        </div>
        <div class="description">
          <h4 class="info-title">Development</h4>
          <p> HTML 5, CSS3, SCSS, Bootstrap, Angular 4.0, Angular-CLI, Jquery,
            JavaScript, Typescript, NodeJS, Webpack. </p>
          <p>ASP.Net MVC, ASP.Net Core, C#, Web API, LINQ, Entity Framework, Microsoft SQL Server </p>
          <p>Agile Methodology, Team Foundation Server, Visual Studio Team Service, GitHub</p>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
 
  <div>
      <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [colors]="colors"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
    <br/>
    <div>
     <div> 
        <a href="https://mcp.microsoft.com/Anonymous//Transcript//Validate ">Click here</a>
        to check Microsoft Certification Professional Transcript ID: 1201755, Access Code: GANGA1514)
    </div> 
    </div>
</div>